@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&display=swap");

@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexCOlumn {
  display: flex;
  flex-direction: column;
}

.container {
  width: 1440px;
  height: 10271px;
  @include flexCOlumn;
  align-items: center;
}

.main-body__first {
  width: 100%;
  height: 1300px;
  @include flexCOlumn;
  align-items: center;
}
header {
  width: 100%;
  height: 140px;
  @include flexRow;

  justify-content: center;
}
.header__container {
  width: 1320px;
  @include flexRow;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 176px;
  height: 41px;
}
.header__links {
  width: 577.81px;
  height: 70px;
  @include flexRow;
  justify-content: space-between;
  align-items: center;
}
.header__links div {
  width: 110px;
  height: 30px;
  font-family: "Mulish", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  @include flexRow;
  justify-content: center;
}
.main-body__block {
  width: 1320px;
  height: 1063px;
  @include flexCOlumn;
  align-items: center;
  justify-content: space-evenly;
  background: url(../img/background.png);
}
.main-body__block__text {
  width: 100%;
  @include flexCOlumn;
  align-items: center;
}
.main-body__block__text__h1 {
  width: 1074px;
  height: 260px;

  font-family: "Fraunces", sans-serif;
  font-size: 100px;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: 0.4000000059604645px;
}
.main-body__block__text__h1::after {
  content: "UXUIXer";
  width: 365px;
  height: 130px;
  font-family: "Fraunces", serif;
  font-size: 100px;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: 0.4000000059604645px;
  text-align: center;
  color: #ff774c;
}

.main-body__block__text__p {
  width: 500px;
  height: 113px;
  font-family: "Mulish";
  font-size: 25px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.4px;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.main-body__block__button {
  width: 100%;
  height: 89px;
  @include flexRow;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}
.main-body__block__button button {
  width: 266px;
  height: 69px;
  background-color: #7390f9;
  border-radius: 10px;
  @include flexRow;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.4000000059604645px;
  color: white;
  border: 0px;
}
.main-body__block__button button:first-child {
  background-color: #ff774c;
  margin-right: 10px;
}
.circle-container {
  width: 240px;
  height: 243px;
  @include flexRow;
  align-items: center;
  justify-content: center;
}
.circle-container__circle {
  position: absolute;
}
.circle-container__vector {
  width: 24px;
  height: 52px;
  position: relative;
}
/*2*/
.container__main-body {
  width: 1320px;
  height: 1250px;
  @include flexCOlumn;
}
.container__main-body__text {
  width: 100%;
  height: 93px;
  @include flexCOlumn;
  align-items: center;
  justify-content: space-between;
}
.container2__main-body__text__main {
  width: 500px;
  height: 56px;
  font-family: "Fraunces", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.4000000059604645px;
  text-align: center;
}
.container2__main-body__text__p {
  width: 803px;
  height: 30px;
  font-family: "Mulish", serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.4000000059604645px;
  text-align: center;
}
.container2__main-body__information {
  width: 1320px;
  height: 1028.03px;
  @include flexRow;
  justify-content: space-between;
  margin-top: 60px;
}

.container2__main-body__information__ {
  width: 645px;
  height: 958.03px;
  @include flexCOlumn;
  justify-content: space-between;
  align-items: center;
}
.container2__main-body__information__photo {
  width: 100%;
  height: 881px;
}

.container2__main-body__information__ div {
  width: 238px;
  height: 38px;
  font-family: "Fraunces", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.4000000059604645px;
  color: #242f65;
}
/*2end*/

/*3*/
.container__main-body3 {
  width: 1440px;
  height: 1344px;
  @include flexCOlumn;
  align-items: center;
  justify-content: center;
  background-color: #edeff6;
  .container__main-body3__ {
    width: 1320px;
    height: 1148px;
    @include flexCOlumn;
  }
}
.container__main-body__text3 {
  width: 100%;
  height: 93px;
  @include flexCOlumn;
  align-items: center;
  justify-content: space-between;
  color: #242f65;
}
.container__main-body__text__main {
  width: 500px;
  height: 56px;
  font-family: "Fraunces", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.4000000059604645px;
  @include flexRow;
  justify-content: center;
}
.container__main-body__text__p {
  width: 803px;
  height: 30px;
  font-family: "Mulish", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4000000059604645px;
  text-align: center;
}
.container__main-body__information {
  width: 1320px;
  height: 1028.03px;
  @include flexRow;
  justify-content: space-between;
  margin-top: 60px;
}

.container__main-body__information__ {
  width: 645px;
  height: 958.03px;
  @include flexCOlumn;
  justify-content: space-between;
  align-items: center;
}
.container__main-body__information__photo {
  width: 100%;
  height: 881px;
}

.container__main-body__information__ div {
  width: 327px;
  height: 38px;
  font-family: "Fraunces", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.4000000059604645px;
  color: #242f65;
}
/*3end*/

/*4*/
@mixin gridCol {
  display: grid;
}
.container__main-body4 {
  width: 1320px;
  height: 2300px;

  @include gridCol;
  grid-template-areas:
    "container__main-body__ top"
    "container__main-body__ bottom";
  grid-template-columns: repeat(2, 720px);
  grid-template-rows: repeat(2, 958.03px);

  .container__main-body4__text {
    width: 100%;
    height: 96px;
    align-items: center;
    .container__main-body4__text__h1 {
      width: 342px;
      height: 56px;
      font-family: "Fraunces", sans-serif;
      font-size: 40px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
      color: #242f65;
    }

    .container__main-body4__text__p {
      width: 884px;
      height: 30px;
      font-family: "Mulish", serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
      color: #525665;
    }
  }
}

.container__main-body__4 {
  height: 50%;
  @include gridCol;
}
.container__main-body__picture {
  width: 645px;
  height: 881px;
}

.container__main-body__top__ {
  @include gridCol();
  /*grid-column: 958.03px 958.03px;*/
  justify-items: center;
  align-items: center;
  grid-area: container__main-body__ top;
}
.container__main-body__top__ div {
  width: 140px;
  height: 38px;
  font-family: "Fraunces", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.4000000059604645px;
  text-align: center;
}

.container__main-body__ bottom {
  grid-area: container__main-body__ bottom;
}
/*4end*/

/*5*/
.container__main-body5 {
  width: 100%;
  height: 2401px;
  @include flexRow;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(13, 16, 45);
}
.container__main-body5__frame {
  width: 1320px;
  height: 2241.05px;
  @include flexCOlumn;
}
.container__main-body5__frame__text {
  width: 100%;
  height: 96px;
  @include flexCOlumn;
  align-items: center;
  justify-content: space-between;
  color: white;
  .container__main-body5__frame__text__info {
    width: 250px;
    height: 56px;
    font-family: "Fraunces", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.4000000059604645px;
  }
  .container__main-body5__frame__text__meaning {
    width: 893px;
    height: 30px;
    font-family: "Mulish", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
  }
}

.container__main-body5__frame__photos {
  width: 100%;
  height: 2085.05px;
  @include flexRow;
  flex-wrap: wrap;
  margin-top: 50px;
  .container__main-body5__frame__photos__top {
    width: 100%;
    height: 444.73px;
    @include flexRow;
    justify-content: space-between;

    .container__main-body5__frame__photos__top__ {
      width: 645px;
      height: 100%;
      @include flexCOlumn;
      justify-content: space-between;
      align-items: center;
      .container__main-body5__frame__photos__top__ img {
        width: 645px;
        height: 368px;
      }
      .text5 {
        width: 192px;
        height: 38px;
        font-family: "Fraunces", sans-serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0.4000000059604645px;
        color: #ffffff;
      }
    }
  }
}
.container__main-body5__frame__photos__middle {
  width: 100%;
  height: 924.03px;
  @include flexRow;
  justify-content: space-between;
  .container__main-body5__frame__photos__middle__ {
    width: 645px;
    height: 100%;
    @include flexCOlumn;
    justify-content: space-between;
    align-items: center;
    .container__main-body5__frame__photos__middle__ img {
      width: 100%;
      height: 847px;
    }
    .container__main-body5__frame__photos__middle__text {
      width: 141px;
      height: 38px;
      font-family: "Fraunces", sans-serif;
      font-size: 25px;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: 0.4000000059604645px;

      color: white;
    }
  }
}
.container__main-body5__frame__photos__bottom {
  width: 100%;
  height: 474.24px;
  @include flexRow;
  .container__main-body5__frame__photos__bottom__left {
    width: 645px;
    height: 100%;
    @include flexCOlumn;
    justify-content: space-between;
    align-items: center;
    .container__main-body5__frame__photos__bottom__left img {
      width: 100%;
      height: 397px;
    }
    .container__main-body5__frame__photos__bottom__left__text {
      width: 193px;
      height: 38px;
      font-family: "Fraunces", sans-serif;
      font-size: 25px;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: 0.4000000059604645px;
      color: #ffffff;
    }
  }
}
/*5end*/

/*6*/
.main-body6 {
  width: 100%;
  height: 700px;
  @include flexRow;
  justify-content: center;
  align-items: center;
  .main-body6__frame {
    width: 1320px;
    height: 503px;
    @include flexRow;
    background: url("/img/back_six.png");
    justify-content: space-between;
    align-items: center;
    .main-body6__frame__ {
      width: 683px;
      height: 463px;
      .main-body6__frame__left__main {
        @include flexRow;
        align-items: center;
        justify-content: center;
      }
    }
    .main-body6__frame__left {
      width: 527.14px;
      height: 321px;
      @include flexCOlumn;
      justify-content: space-between;
      margin-left: 50px;

      .main-body6__frame__left__text {
        width: 344px;
        height: 120px;
        font-family: "Fraunces", sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
      }

      .main-body6__frame__left__text__p {
        width: 513px;
        height: 90px;
        font-family: "Mulish", serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
      }
      button {
        width: 274px;
        height: 69px;
        border-radius: 10px;
        border: 0px;
        @include flexRow;
        justify-content: center;
        align-items: center;
        background: #ff774c;
        .button__text {
          width: 132px;
          height: 27px;
          font-family: "Mulish", serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0.4000000059604645px;
          color: rgb(255, 252, 252);
          position: absolute;
        }
        .rect_on_button {
          width: 221.52px;
          height: 52.75px;
          position: relative;
        }
      }
    }
    .main-body6__frame__ right {
      @include flexRow;
      justify-content: center;
      align-items: flex-end;
    }
    .pic_right_six {
      width: 637px;
      height: 100%;
    }
  }
}
/*6end*/

/*7*/
.main-body7 {
  width: 100%;
  height: 888px;
  background: url("/img/back_for7.png");
  .main-body7__top {
    width: 100%;
    height: 450px;
    @include flexCOlumn;
    justify-content: center;
    align-items: center;
    border-bottom: 2px #d092ba solid;
    .main-body7__top__advantages {
      width: 1330px;
      height: 55px;
      @include flexRow;
      justify-content: space-between;
      margin-top: 30px;
      .main-body7__top__advantages__block {
        width: 320px;
        height: 100%;
        @include flexRow;
        justify-content: center;
        .photos7_block {
          width: 35px;
          height: 53px;
        }
        .laptop_photos7_block {
          width: 52px;
          height: 52px;
        }

        .main-body7__top__advantages__block__text {
          width: 267px;
          height: 45px;
          font-family: "Mulish", sans-serif;
          font-size: 25px;
          font-weight: 400;
          line-height: 45px;
          letter-spacing: 0.4000000059604645px;
          text-align: left;
          margin-left: 25px;
        }
      }
    }
  }

  .main-body7__middle {
    width: 100%;
    height: 321px;
    @include flexRow;
    justify-content: center;
    align-items: center;
    border-bottom: 2px #d092ba solid;
    .main-body7__middle__innerpart {
      width: 1320px;
      height: 159px;
      @include flexRow;
      justify-content: space-between;
      align-items: center;
      .main-body7__middle__innerpart__left-text {
        width: 430px;
        height: 159px;
        @include flexRow;
        justify-content: space-between;
        .main-body7__middle__innerpart__left-text__ {
          width: 214.66px;
          height: 100%;
          @include flexCOlumn;
          justify-content: space-evenly;
          div {
            width: 150px;
            height: 38px;
            font-family: "Fraunces", sans-serif;
            font-size: 25px;
            font-weight: 600;
            line-height: 38px;
            letter-spacing: 0.4000000059604645px;
            text-align: left;
            color: #242f65;
          }
        }
      }
    }
  }

  .main-body7__middle__innerpart__right-button button {
    width: 819px;
    height: 116px;
    background-color: white;
    @include flexRow;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0px;
    .main-body7__middle__innerpart__right-button__text {
      width: 554px;
      height: 36px;
      font-family: "Fraunces", sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.4000000059604645px;
      color: #242f65;
    }
  }
  .main-body7__middle__innerpart__right-button__inner-button {
    width: 187px;
    height: 52px;
    @include flexRow;
    justify-content: center;
    align-items: center;
    background: #242f65;
    border-radius: 10px;
    .inner-pic__for-button {
      width: 26px;
      height: 26px;
    }
  }
  .main-body7__middle__innerpart__right-button__inner-button__text {
    width: 109px;
    height: 30px;
    @include flexRow;
    align-items: center;
    font-family: "Mulish", serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0.4000000059604645px;
    color: #ffffff;
    margin-left: 10px;
  }
}
.main-body7__bottom {
  width: 100%;
  height: 113px;
  @include flexRow;
  justify-content: center;
  align-items: center;
  .main-body7__bottom__text {
    width: 785px;
    height: 30px;
    font-family: "Mulish", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
    color: #242f65;
  }
}
/*7end*/

@media (max-width: 1550px) {
}

@media (max-width: 990px) {
  header {
    width: 90%;
    height: 240px;
    .header__logo {
      width: 190px;
      height: 53px;
    }
    .header__links {
      align-items: center;
    }
    .header__links div {
      width: 130px;
      font-size: 25px;
    }
  }
  .header__links div {
    font-size: 25px;
  }
  .main-body__block {
    width: 90%;
    height: 1400px;
  }
}

@media (max-width: 670px) {
  header {
    width: 90%;
    height: 400px;
    .header__logo {
      width: 300px;
      height: 113px;
      .logo {
        width: 100%;
      }
    }
  }
  .header__links {
    width: 790px;
  }
  header .header__links div {
    width: 190px;
    font-size: 35px;
  }
  .main-body__block {
    width: 90%;
    height: 1900px;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1232px) {
  .container {
    width: 100vw;
    height: 5600px;
    @include flexCOlumn;
    align-items: center;

    /*1*/
    .main-body__first {
      width: 100%;
      height: 600px;
      @include flexCOlumn;
      align-items: center;
      align-self: center;
    }
    header {
      height: 100px;
    }
    .header__container {
      width: 80%;
      height: 60px;
      @include flexRow;
      justify-content: space-between;
      align-items: center;
    }
    .header__logo {
      width: 100px;
      height: 21px;
    }
    .logo {
      width: 100%;
    }
    .header__links {
      width: 300.81px;
      height: 50px;
    }
    .header__links div {
      width: 60px;
      height: 30px;

      font-size: 10px;
      font-weight: 400;
      line-height: 30px;

      @include flexRow;
      justify-content: center;
    }
    .main-body__block {
      width: 80%;
      height: 580px;

      margin-top: -30px;
    }
    .main-body__block__text {
      width: 100%;
      @include flexCOlumn;
      align-items: center;
    }
    .main-body__block__text__h1 {
      width: 80%;
      height: 180px;
      font-family: "Fraunces", sans-serif;
      font-size: 50px;
      font-weight: 400;
      line-height: 70px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
      margin-top: 30px;
    }
    .main-body__block__text__h1::after {
      content: "UXUIXer";
      width: 60%;
      height: 100px;
      font-family: "Fraunces", serif;
      font-size: 50px;

      line-height: 70px;
    }

    .main-body__block__text__p {
      width: 200px;
      height: 60px;
      font-family: "Mulish";
      font-size: 9px;
      margin-top: -40px;
      line-height: 15px;
    }
    .main-body__block__button {
      width: 100%;
      height: 60px;
      @include flexRow;
      justify-content: center;
      align-items: center;
      margin-top: -40px;
    }
    .main-body__block__button button {
      width: 150px;
      height: 30px;
      font-size: 9px;
      line-height: 15px;
    }
    .main-body__block__button button:first-child {
      background-color: #ff774c;
      margin-right: 10px;
    }
    .circle-container {
      width: 90px;
      height: 93px;
      @include flexRow;
      align-items: center;
      justify-content: center;
      margin-top: -50px;
    }
    .circle-container__circle {
      position: absolute;
      width: 90px;
    }
    .circle-container__vector {
      width: 6px;
      height: 15px;
      position: relative;
    }
    /*2*/
    .container__main-body {
      width: 80%;
      height: 800px;
      @include flexCOlumn;
      align-items: center;
      margin-top: 20px;
    }
    .container2__main-body__text {
      width: 80%;
      height: 75px;
      @include flexCOlumn;
      align-items: center;
      justify-content: space-between;
    }
    .container2__main-body__text__main {
      width: 500px;
      height: 40px;
      font-size: 18px;
      line-height: 56px;
    }
    .container2__main-body__text__p {
      width: 803px;
      height: 30px;
      font-family: "Mulish", serif;
      font-size: 10px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
    }
    .container2__main-body__information {
      width: 100%;
      height: 660.03px;
      @include flexRow;
      justify-content: space-between;
      margin-top: 10px;
    }

    .container2__main-body__information__ {
      width: 500px;
      height: 550px;
      @include flexCOlumn;
      justify-content: space-between;
      align-items: center;
    }
    .container2__main-body__information__
      img
      .container__main-body__information__photo {
      width: 20%;
      height: 150px;
    }

    .container2__main-body__information__ div {
      width: 238px;
      height: 38px;
      font-size: 10px;
      line-height: 38px;
      @include flexRow;
      justify-content: center;
    }
    /*2end*/

    /*3*/
    .container__main-body3 {
      width: 80%;
      height: 700px;
      @include flexRow;
      justify-content: center;
      align-items: center;
      .container__main-body3__ {
        width: 100%;
        height: 560px;
        @include flexCOlumn;
      }
    }
    .container__main-body__text3 {
      width: 100%;
      height: 73px;
      @include flexCOlumn;
      align-items: center;
      justify-content: space-between;
      color: #242f65;
    }
    .container__main-body__text__main {
      width: 500px;
      height: 56px;
      font-family: "Fraunces", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: 0.4000000059604645px;
      @include flexRow;
      justify-content: center;
    }
    .container__main-body__text__p {
      width: 803px;
      height: 30px;
      font-family: "Mulish", serif;
      font-size: 10px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
      @include flexRow;
      justify-content: center;
    }
    .container__main-body__information {
      width: 100%;
      height: 520px;
      @include flexRow;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }

    .container__main-body__information__ {
      width: 645px;
      height: 480px;
      @include flexCOlumn;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }
    .container__main-body__information__photo {
      width: 35vw;
      height: 470px;
    }

    .container__main-body__information__ div {
      width: 327px;
      height: 38px;
      font-size: 12px;
      @include flexRow;
      justify-content: center;
      align-items: center;
    }
    /*3end*/

    /*4*/
    @mixin gridCol {
      display: grid;
    }
    .container__main-body4 {
      width: 90%;
      height: 860px;
      margin-top: 70px;
      justify-content: center;
      @include gridCol;
      grid-template-areas:
        "container__main-body__ top"
        "container__main-body__ bottom";
      grid-template-columns: repeat(2, 393px);
      grid-template-rows: 200px, 410px, 410px;

      .container__main-body4__text {
        width: 100%;
        height: 96px;
        align-items: center;
        .container__main-body4__text__h1 {
          width: 342px;
          height: 56px;
          font-family: "Fraunces", sans-serif;
          font-size: 20px;
          font-weight: 600;
          line-height: 56px;
          letter-spacing: 0.4000000059604645px;
          text-align: center;
          color: #242f65;
        }

        .container__main-body4__text__p {
          width: 884px;
          height: 30px;
          font-family: "Mulish", serif;
          font-size: 10px;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0.4000000059604645px;
          text-align: center;
          color: #525665;
        }
      }
    }

    .container__main-body__4 {
      height: 80%;
      @include gridCol;
    }
    .container__main-body__picture.sec {
      width: 250px;
      height: 360px;
    }

    .container__main-body__top__ {
      @include gridCol();
      /*grid-column: 958.03px 958.03px;*/
      justify-items: center;
      align-items: center;
      grid-area: container__main-body__ top;
    }
    .container__main-body__top__ div {
      width: 140px;
      height: 38px;
      font-family: "Fraunces", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
    }

    .container__main-body__ bottom {
      grid-area: container__main-body__ bottom;
    }
    /*4end*/

    /*5*/
    .container__main-body5 {
      width: 80%;
      height: 1000px;
      @include flexRow;
      justify-content: center;
      align-items: center;

      background-color: rgb(13, 16, 45);
      background-size: 100vw;
    }
    .container__main-body5__frame {
      width: 100%;
      height: 560px;
      @include flexCOlumn;
      margin-top: -150px;
    }
    .container__main-body5__frame__text {
      width: 100%;
      height: 73px;
      @include flexCOlumn;
      align-items: center;
      justify-content: space-between;
      color: white;
      .container__main-body5__frame__text__info {
        width: 250px;
        height: 46px;
        font-family: "Fraunces", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 0.4000000059604645px;
        @include flexRow;
        justify-content: center;
        align-items: center;
      }
      .container__main-body5__frame__text__meaning {
        width: 893px;
        height: 29px;
        font-family: "Mulish", serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.4000000059604645px;

        @include flexRow;
        justify-content: center;
        align-items: center;
      }
    }

    .container__main-body5__frame__photos {
      width: 100%;
      height: 800px;
      @include flexRow;
      flex-wrap: wrap;
      margin-top: 10px;
      .container__main-body5__frame__photos__top {
        width: 100%;
        height: 200px;
        @include flexRow;
        justify-content: space-between;

        .container__main-body5__frame__photos__top__ {
          width: 100%;
          height: 100%;
          @include flexCOlumn;
          justify-content: space-between;
          align-items: center;
          .container__main-body5__frame__photos__top__img {
            width: 260px;
            height: 190px;
          }
          .text5 {
            width: 192px;
            height: 10px;
            font-family: "Fraunces", sans-serif;
            font-size: 10px;
            @include flexRow;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .container__main-body5__frame__photos__middle {
      width: 100%;
      height: 330px;
      @include flexRow;
      justify-content: space-between;
      .container__main-body5__frame__photos__middle__ {
        width: 645px;
        height: 100%;
        @include flexCOlumn;
        justify-content: space-between;
        align-items: center;
        .container__main-body5__frame__photos__middle__img {
          width: 50%;
          height: 100px;
        }
        .container__main-body5__frame__photos__top__img {
          width: 53%;
          height: 300px;
        }
        .container__main-body5__frame__photos__top__img.new {
          width: 50%;
          height: 100px;
        }
        .container__main-body5__frame__photos__middle__text {
          width: 141px;
          height: 38px;
          font-family: "Fraunces", sans-serif;
          font-size: 10px;
          @include flexRow;
          justify-content: center;
          align-items: center;
          color: white;
        }
      }
    }
    .container__main-body5__frame__photos__bottom {
      width: 100%;
      height: 200.24px;
      @include flexRow;

      .container__main-body5__frame__photos__bottom__left {
        width: 490px;
        height: 80%;
        @include flexCOlumn;
        justify-content: space-between;
        align-items: center;
        .container__main-body5__frame__photos__bottom__left img {
          width: 100%;
          height: 490px;
        }
        .container__main-body5__frame__photos__bottom__left__text {
          width: 193px;
          height: 38px;
          font-family: "Fraunces", sans-serif;
          font-size: 10px;
          @include flexRow;
          justify-content: center;
          align-items: center;
          color: #ffffff;
        }
      }
      .container__main-body5__frame__photos__top__img.bottom {
        width: 260px;
        height: 140px;
      }
    }

    /*5end*/

    /*6*/
    .main-body6 {
      width: 90%;
      height: 560px;
      @include flexRow;
      justify-content: center;
      align-items: center;
      .main-body6__frame {
        width: 800.05px;
        height: 320px;
        @include flexRow;
        justify-content: space-evenly;
        .main-body6__frame__ {
          width: 720px;
          height: 463px;
        }
        .main-body6__frame__left__main {
          @include flexRow;
          width: 340px;
          align-items: center;
          justify-content: center;
        }
        .main-body6__frame__left {
          width: 100%;
          height: 321px;
          @include flexCOlumn;

          justify-content: center;

          margin-left: 30px;

          .main-body6__frame__left__text {
            width: 210px;
            height: 160px;

            font-size: 20px;

            line-height: 35px;
          }

          .main-body6__frame__left__text__p {
            width: 273px;
            height: 90px;
            font-family: "Mulish", serif;
            font-size: 10px;
            font-weight: 400;
            line-height: 20px;
          }
          button {
            width: 184px;
            height: 39px;
            border-radius: 5px;
            border: 0px;
            @include flexRow;
            justify-content: center;
            align-items: center;
            background: #ff774c;
            .button__text {
              width: 120px;
              height: 27px;

              font-size: 12px;
              font-weight: 400;
              line-height: 27px;
              letter-spacing: 0.4000000059604645px;
              color: rgb(255, 252, 252);
              position: absolute;
            }
            .rect_on_button {
              width: 130px;
              height: 30px;
              position: relative;
            }
          }
        }

        .main-body6__frame__.right {
          width: 340px;
          height: 321px;
          @include flexRow;
          justify-content: center;
          align-items: flex-end;
        }
        .pic_right_six {
          width: 335px;
          height: 75%;
        }
      }
    }
    /*6end*/

    /*7*/
    .main-body7 {
      width: 80%;
      height: 600px;
      background: url("/img/back_for7.png");
      .main-body7__top {
        width: 100%;
        height: 250px;
        @include flexCOlumn;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 2px #d092ba solid;
        padding-top: 60px;

        .circle-container.for7 {
          margin-top: 0px;
          margin-bottom: -20px;
        }
        .main-body7__top__advantages {
          width: 90%;
          height: 55px;
          @include flexRow;
          justify-content: space-between;
          margin-bottom: -40px;
          .main-body7__top__advantages__block {
            width: 180px;
            height: 100%;
            @include flexRow;
            justify-content: center;
            .photos7_block {
              width: 23px;
              height: 33px;
            }
            .laptop_photos7_block {
              width: 32px;
              height: 32px;
            }

            .main-body7__top__advantages__block__text {
              width: 270px;
              height: 45px;
              font-family: "Mulish", sans-serif;
              font-size: 13px;
              font-weight: 400;
              line-height: 45px;
              letter-spacing: 0.4000000059604645px;
              text-align: left;
              margin-left: 5px;
              @include flexRow;
              align-items: center;
            }
          }
        }
      }

      .main-body7__middle {
        width: 100%;
        height: 230px;
        @include flexRow;
        justify-content: center;
        align-items: center;
        border-bottom: 2px #d092ba solid;

        .main-body7__middle__innerpart {
          width: 90%;
          height: 159px;
          @include flexRow;
          justify-content: space-between;
          align-items: center;

          .main-body7__middle__innerpart__left-text {
            width: 190px;
            height: 159px;
            @include flexRow;
            justify-content: space-between;
            align-items: center;

            .main-body7__middle__innerpart__left-text__ {
              width: 100px;
              height: 60%;
              @include flexCOlumn;
              justify-content: space-evenly;

              div {
                width: 130px;
                height: 38px;
                font-family: "Fraunces", sans-serif;
                font-size: 15px;
                font-weight: 600;
                line-height: 30px;
              }
            }
          }
        }
      }

      .main-body7__middle__innerpart__right-button button {
        width: 480px;
        height: 60px;
        background-color: white;
        @include flexRow;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 0px;

        .main-body7__middle__innerpart__right-button__text {
          width: 260px;
          height: 30px;
          font-family: "Fraunces", sans-serif;
          font-size: 10px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0.4000000059604645px;
          color: #242f65;
        }
      }

      .main-body7__middle__innerpart__right-button__inner-button {
        width: 160px;
        height: 30px;
        @include flexRow;
        justify-content: center;
        align-items: center;
        background: #242f65;
        border-radius: 10px;
        .inner-pic__for-button {
          width: 15px;
          height: 15px;
        }
      }

      .main-body7__middle__innerpart__right-button__inner-button__text {
        width: 100px;
        height: 30px;
        @include flexRow;
        align-items: center;
        font-family: "Mulish", serif;
        font-size: 10px;
        font-weight: 200;
        line-height: 30px;
        letter-spacing: 0.4000000059604645px;
        color: #ffffff;
        margin-left: 20px;
      }
    }

    .main-body7__bottom {
      width: 100%;
      height: 63px;
      @include flexRow;
      justify-content: center;
      align-items: center;
      .main-body7__bottom__text {
        width: 785px;
        height: 30px;
        font-family: "Mulish", serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.4000000059604645px;
        text-align: center;
        color: #242f65;
      }
    }
    /*7end*/
  }
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100vw;
    height: 5600px;
    @include flexCOlumn;
    align-items: center;

    /*1*/
    .main-body__first {
      width: 100%;
      height: 600px;
      @include flexCOlumn;
      align-items: center;
      align-self: center;
    }
    header {
      height: 100px;
    }
    .header__container {
      width: 80%;
      height: 60px;
      @include flexRow;
      justify-content: space-between;
      align-items: center;
    }
    .header__logo {
      width: 100px;
      height: 21px;
    }
    .logo {
      width: 100%;
    }
    .header__links {
      width: 300.81px;
      height: 50px;
    }
    .header__links div {
      width: 60px;
      height: 30px;

      font-size: 10px;
      font-weight: 400;
      line-height: 30px;

      @include flexRow;
      justify-content: center;
    }
    .main-body__block {
      width: 80%;
      height: 580px;

      margin-top: -30px;
    }
    .main-body__block__text {
      width: 100%;
      height: 319px;
      @include flexCOlumn;
      align-items: center;
    }
    .main-body__block__text__h1 {
      width: 80%;
      height: 180px;
      font-family: "Fraunces", sans-serif;
      font-size: 35px;
      font-weight: 400;
      line-height: 70px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
      margin-top: 30px;
    }
    .main-body__block__text__h1::after {
      content: "UXUIXer";
      width: 60%;
      height: 100px;
      font-family: "Fraunces", serif;
      font-size: 35px;

      line-height: 70px;
    }

    .main-body__block__text__p {
      width: 200px;
      height: 60px;
      font-family: "Mulish";
      font-size: 9px;
      margin-top: -40px;
      line-height: 15px;
    }
    .main-body__block__button {
      width: 100%;
      height: 60px;
      @include flexRow;
      justify-content: center;
      align-items: center;
      margin-top: -130px;
    }
    .main-body__block__button button {
      width: 150px;
      height: 30px;
      font-size: 9px;
      line-height: 15px;
    }
    .main-body__block__button button:first-child {
      background-color: #ff774c;
      margin-right: 10px;
    }
    .circle-container {
      width: 90px;
      height: 93px;
      @include flexRow;
      align-items: center;
      justify-content: center;
      margin-top: -50px;
    }
    .circle-container__circle {
      position: absolute;
      width: 90px;
    }
    .circle-container__vector {
      width: 6px;
      height: 15px;
      position: relative;
    }
    /*2*/
    .container__main-body {
      width: 80%;
      height: 600px;
      @include flexCOlumn;
      align-items: center;
      margin-top: 20px;
    }
    .container2__main-body__text {
      width: 80%;
      height: 75px;
      @include flexCOlumn;
      align-items: center;
      justify-content: space-between;
    }
    .container2__main-body__text__main {
      width: 500px;
      height: 40px;
      font-size: 18px;
      line-height: 56px;
    }
    .container2__main-body__text__p {
      width: 803px;
      height: 30px;
      font-family: "Mulish", serif;
      font-size: 10px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
    }
    .container2__main-body__information {
      width: 100%;
      height: 660.03px;
      @include flexRow;
      justify-content: space-between;
      margin-top: 10px;
    }

    .container2__main-body__information__ {
      width: 400px;
      height: 450px;
      @include flexCOlumn;
      justify-content: space-between;
      align-items: center;
    }
    .container2__main-body__information__
      img
      .container__main-body__information__photo {
      width: 20%;
      height: 150px;
    }

    .container2__main-body__information__ div {
      width: 238px;
      height: 38px;
      font-size: 10px;
      line-height: 38px;
      @include flexRow;
      justify-content: center;
    }
    /*2end*/

    /*3*/
    .container__main-body3 {
      width: 80%;
      height: 600px;
      @include flexRow;
      justify-content: center;
      align-items: center;
      .container__main-body3__ {
        width: 100%;
        height: 560px;
        @include flexCOlumn;
      }
    }
    .container__main-body__text3 {
      width: 100%;
      height: 73px;
      @include flexCOlumn;
      align-items: center;
      justify-content: space-between;
      color: #242f65;
    }
    .container__main-body__text__main {
      width: 400px;
      height: 56px;
      font-family: "Fraunces", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: 0.4000000059604645px;
      @include flexRow;
      justify-content: center;
    }
    .container__main-body__text__p {
      width: 803px;
      height: 30px;
      font-family: "Mulish", serif;
      font-size: 10px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
      @include flexRow;
      justify-content: center;
    }
    .container__main-body__information {
      width: 100%;
      height: 420px;
      @include flexRow;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }

    .container__main-body__information__ {
      width: 275px;
      height: 400px;
      @include flexCOlumn;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }
    .container__main-body__information__photo {
      width: 35vw;
      height: 470px;
    }

    .container__main-body__information__ div {
      width: 327px;
      height: 38px;
      font-size: 12px;
      @include flexRow;
      justify-content: center;
      align-items: center;
    }
    /*3end*/

    /*4*/
    @mixin gridCol {
      display: grid;
    }
    .container__main-body4 {
      width: 90%;
      height: 860px;
      margin-top: 70px;
      justify-content: center;
      @include gridCol;
      grid-template-areas:
        "container__main-body__ top"
        "container__main-body__ bottom";
      grid-template-columns: repeat(2, 300px);
      grid-template-rows: 200px, 320px, 320px;

      .container__main-body4__text {
        width: 100%;
        height: 96px;
        align-items: center;
        .container__main-body4__text__h1 {
          width: 342px;
          height: 56px;
          font-family: "Fraunces", sans-serif;
          font-size: 20px;
          font-weight: 600;
          line-height: 56px;
          letter-spacing: 0.4000000059604645px;
          text-align: center;
          color: #242f65;
        }

        .container__main-body4__text__p {
          width: 884px;
          height: 30px;
          font-family: "Mulish", serif;
          font-size: 10px;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0.4000000059604645px;
          text-align: center;
          color: #525665;
        }
      }
    }

    .container__main-body__4 {
      height: 80%;
      @include gridCol;
    }
    .container__main-body__picture.sec {
      width: 250px;
      height: 360px;
    }

    .container__main-body__top__ {
      @include gridCol();
      /*grid-column: 958.03px 958.03px;*/
      justify-items: center;
      align-items: center;
      grid-area: container__main-body__ top;
    }
    .container__main-body__top__ div {
      width: 140px;
      height: 38px;
      font-family: "Fraunces", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
    }

    .container__main-body__ bottom {
      grid-area: container__main-body__ bottom;
    }
    /*4end*/

    /*5*/
    .container__main-body5 {
      width: 80%;
      height: 1000px;
      @include flexRow;
      justify-content: center;
      align-items: center;

      background-color: rgb(13, 16, 45);
      background-size: 100vw;
    }
    .container__main-body5__frame {
      width: 100%;
      height: 560px;
      @include flexCOlumn;
      margin-top: -150px;
    }
    .container__main-body5__frame__text {
      width: 100%;
      height: 73px;
      @include flexCOlumn;
      align-items: center;
      justify-content: space-between;
      color: white;
      .container__main-body5__frame__text__info {
        width: 250px;
        height: 46px;
        font-family: "Fraunces", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 0.4000000059604645px;
        @include flexRow;
        justify-content: center;
        align-items: center;
      }
      .container__main-body5__frame__text__meaning {
        width: 893px;
        height: 29px;
        font-family: "Mulish", serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.4000000059604645px;

        @include flexRow;
        justify-content: center;
        align-items: center;
      }
    }

    .container__main-body5__frame__photos {
      width: 100%;
      height: 600px;
      @include flexRow;
      flex-wrap: wrap;
      margin-top: 10px;
      .container__main-body5__frame__photos__top {
        width: 100%;
        height: 200px;
        @include flexRow;
        justify-content: space-between;

        .container__main-body5__frame__photos__top__ {
          width: 100%;
          height: 100%;
          @include flexCOlumn;
          justify-content: space-between;
          align-items: center;
          .container__main-body5__frame__photos__top__img {
            width: 260px;
            height: 190px;
          }
          .text5 {
            width: 192px;
            height: 10px;
            font-family: "Fraunces", sans-serif;
            font-size: 10px;
            @include flexRow;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .container__main-body5__frame__photos__middle {
      width: 100%;
      height: 330px;
      @include flexRow;
      justify-content: space-between;

      .container__main-body5__frame__photos__middle__ {
        width: 645px;
        height: 100%;
        @include flexCOlumn;
        justify-content: space-between;
        align-items: center;

        .container__main-body5__frame__photos__middle__img {
          width: 50%;
          height: 100px;
        }
        .container__main-body5__frame__photos__top__img {
          width: 90%;
          height: 300px;
        }
        .container__main-body5__frame__photos__top__img.new {
          width: 40%;
          height: 100px;
        }
        .container__main-body5__frame__photos__middle__text {
          width: 141px;
          height: 38px;
          font-family: "Fraunces", sans-serif;
          font-size: 10px;
          @include flexRow;
          justify-content: center;
          align-items: center;
          color: white;
        }
      }
    }
    .container__main-body5__frame__photos__bottom {
      width: 100%;
      height: 200.24px;
      @include flexRow;

      .container__main-body5__frame__photos__bottom__left {
        width: 490px;
        height: 80%;
        @include flexCOlumn;
        justify-content: space-between;
        align-items: center;
        .container__main-body5__frame__photos__bottom__left img {
          width: 100%;
          height: 490px;
        }
        .container__main-body5__frame__photos__bottom__left__text {
          width: 193px;
          height: 38px;
          font-family: "Fraunces", sans-serif;
          font-size: 10px;
          @include flexRow;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          position: relative;
          left: -100px;
        }
      }
      .container__main-body5__frame__photos__top__img.bottom {
        width: 230px;
        height: 140px;
        position: relative;
        left: -100px;
      }
    }

    /*5end*/

    /*6*/
    .main-body6 {
      width: 80%;
      height: 560px;
      @include flexRow;
      justify-content: center;
      align-items: center;
      .main-body6__frame {
        width: 590.05px;
        height: 320px;
        @include flexRow;
        justify-content: space-evenly;
        .main-body6__frame__ {
          width: 720px;
          height: 463px;
        }
        .main-body6__frame__left__main {
          @include flexRow;
          width: 340px;
          align-items: center;
          justify-content: center;
        }
        .main-body6__frame__left {
          width: 100%;
          height: 321px;
          @include flexCOlumn;

          justify-content: center;

          margin-left: 30px;

          .main-body6__frame__left__text {
            width: 210px;
            height: 160px;

            font-size: 20px;

            line-height: 35px;
          }

          .main-body6__frame__left__text__p {
            width: 273px;
            height: 90px;
            font-family: "Mulish", serif;
            font-size: 10px;
            font-weight: 400;
            line-height: 20px;
          }
          button {
            width: 184px;
            height: 39px;
            border-radius: 5px;
            border: 0px;
            @include flexRow;
            justify-content: center;
            align-items: center;
            background: #ff774c;
            .button__text {
              width: 120px;
              height: 27px;

              font-size: 12px;
              font-weight: 400;
              line-height: 27px;
              letter-spacing: 0.4000000059604645px;
              color: rgb(255, 252, 252);
              position: absolute;
            }
            .rect_on_button {
              width: 130px;
              height: 30px;
              position: relative;
            }
          }
        }

        .main-body6__frame__.right {
          width: 340px;
          height: 321px;
          @include flexRow;
          justify-content: center;
          align-items: flex-end;
        }
        .pic_right_six {
          width: 335px;
          height: 75%;
        }
      }
    }
    /*6end*/

    /*7*/
    .main-body7 {
      width: 80%;
      height: 600px;
      background: url("/img/back_for7.png");
      .main-body7__top {
        width: 100%;
        height: 250px;
        @include flexCOlumn;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 2px #d092ba solid;
        padding-top: 60px;

        .circle-container.for7 {
          margin-top: 0px;
          margin-bottom: -20px;
        }
        .main-body7__top__advantages {
          width: 90%;
          height: 35px;
          @include flexRow;
          justify-content: space-between;
          margin-bottom: -40px;
          .main-body7__top__advantages__block {
            width: 130px;
            height: 100%;
            @include flexRow;
            justify-content: center;
            align-items: center;
            .photos7_block {
              width: 13px;
              height: 23px;
            }
            .laptop_photos7_block {
              width: 22px;
              height: 22px;
            }

            .main-body7__top__advantages__block__text {
              width: 120px;
              height: 45px;
              font-family: "Mulish", sans-serif;
              font-size: 8px;
              font-weight: 400;
              line-height: 45px;
              letter-spacing: 0.4000000059604645px;
              text-align: left;
              margin-left: 5px;
              @include flexRow;
              align-items: center;
            }
          }
        }
      }

      .main-body7__middle {
        width: 100%;
        height: 230px;
        @include flexRow;
        justify-content: center;
        align-items: center;
        border-bottom: 2px #d092ba solid;

        .main-body7__middle__innerpart {
          width: 90%;
          height: 159px;
          @include flexRow;
          justify-content: space-between;
          align-items: center;

          .main-body7__middle__innerpart__left-text {
            width: 160px;
            height: 159px;
            @include flexRow;
            justify-content: space-between;
            align-items: center;

            .main-body7__middle__innerpart__left-text__ {
              width: 100px;
              height: 60%;
              @include flexCOlumn;
              justify-content: space-evenly;

              div {
                width: 80px;
                height: 38px;
                font-family: "Fraunces", sans-serif;
                font-size: 10px;
                font-weight: 600;
                line-height: 30px;
              }
            }
          }
        }
      }

      .main-body7__middle__innerpart__right-button button {
        width: 300px;
        height: 40px;
        background-color: white;
        @include flexRow;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 0px;

        .main-body7__middle__innerpart__right-button__text {
          width: 260px;
          height: 30px;
          font-family: "Fraunces", sans-serif;
          font-size: 8px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0.4000000059604645px;
          color: #242f65;
        }
      }

      .main-body7__middle__innerpart__right-button__inner-button {
        width: 100px;
        height: 30px;
        @include flexRow;
        justify-content: center;
        align-items: center;
        background: #242f65;
        border-radius: 10px;
        .inner-pic__for-button {
          width: 10px;
          height: 10px;
          margin-left: 10px;
        }
      }

      .main-body7__middle__innerpart__right-button__inner-button__text {
        width: 60px;
        height: 30px;
        @include flexRow;
        align-items: center;
        font-family: "Mulish", serif;
        font-size: 8px;
        font-weight: 200;
        line-height: 30px;
        letter-spacing: 0.4000000059604645px;
        color: #ffffff;
        margin-left: 10px;
      }
    }

    .main-body7__bottom {
      width: 100%;
      height: 63px;
      @include flexRow;
      justify-content: center;
      align-items: center;
      .main-body7__bottom__text {
        width: 785px;
        height: 30px;
        font-family: "Mulish", serif;
        font-size: 8px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.4000000059604645px;
        text-align: center;
        color: #242f65;
      }
    }
    /*7end*/
  }
  /*?????*/
  header {
    width: 70%;
    height: 240px;
    .header__logo {
      width: 80px;
      height: 53px;
    }
    .header__links {
      align-items: center;
    }
    .header__links div {
      width: 50px;
      height: 30px;

      font-size: 7px;
      font-weight: 400;
      line-height: 30px;

      @include flexRow;
      justify-content: center;
    }
    .main-body__block {
      width: 80%;
      height: 580px;

      margin-top: -30px;
    }
    .main-body__block__text {
      width: 100%;
      height: 319px;
      @include flexCOlumn;
      align-items: center;
    }
    .main-body__block__text.main-body__block__text__h1 {
      width: 90%;
      height: 150px;
      font-family: "Fraunces", sans-serif;
      font-size: 25px;
      font-weight: 400;
      line-height: 70px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
      margin-top: 30px;
    }
    .main-body__block__text__h1::after {
      content: "UXUIXer";
      width: 60%;
      height: 100px;
      font-family: "Fraunces", serif;
      font-size: 25px;

      line-height: 70px;
    }

    .main-body__block__text__p {
      width: 200px;
      height: 60px;
      font-family: "Mulish";
      font-size: 9px;
      margin-top: -40px;
      line-height: 15px;
    }
    .main-body__block__button {
      width: 100%;
      height: 60px;
      @include flexRow;
      justify-content: center;
      align-items: center;
      margin-top: -40px;
    }
    .main-body__block__button button {
      width: 150px;
      height: 30px;
      font-size: 9px;
      line-height: 15px;
    }
    .main-body__block__button button:first-child {
      background-color: #ff774c;
      margin-right: 10px;
    }
    .circle-container {
      width: 90px;
      height: 93px;
      @include flexRow;
      align-items: center;
      justify-content: center;
      margin-top: -50px;
    }
    .circle-container__circle {
      position: absolute;
      width: 90px;
    }
    .circle-container__vector {
      width: 6px;
      height: 15px;
      position: relative;
    }
    /*2*/
    .container__main-body {
      width: 80%;
      height: 800px;
      @include flexCOlumn;
      align-items: center;
      margin-top: 20px;
    }
    .container2__main-body__text {
      width: 80%;
      height: 75px;
      @include flexCOlumn;
      align-items: center;
      justify-content: space-between;
    }
    .container2__main-body__text__main {
      width: 500px;
      height: 40px;
      font-size: 18px;
      line-height: 56px;
    }
    .container2__main-body__text__p {
      width: 803px;
      height: 30px;
      font-family: "Mulish", serif;
      font-size: 10px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
    }
    .container2__main-body__information {
      width: 100%;
      height: 660.03px;
      @include flexRow;
      justify-content: space-between;
      margin-top: 10px;
    }

    .container2__main-body__information__ {
      width: 500px;
      height: 550px;
      @include flexCOlumn;
      justify-content: space-between;
      align-items: center;
    }
    .container2__main-body__information__
      img
      .container__main-body__information__photo {
      width: 20%;
      height: 150px;
    }

    .container2__main-body__information__ div {
      width: 238px;
      height: 38px;
      font-size: 10px;
      line-height: 38px;
      @include flexRow;
      justify-content: center;
    }
    /*2end*/
  }
}
@media (max-width: 670px) {
  header {
    width: 30%;
    height: 400px;
    .header__logo {
      width: 80px;
      height: 113px;
      .logo {
        width: 100%;
      }
    }
  }
  .header__links {
    width: 790px;
  }
  header .header__links div {
    width: 190px;
    font-size: 35px;
  }
  .main-body__block {
    width: 90%;
    height: 1900px;
  }
}
