@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  margin: 0;
}
.main-wrapper {
  width: 692px;
  height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.form-item {
  width: 220px;
  height: 50px;
  border-radius: 83px;
  border: 1px solid #bdbdbd;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.high-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 330px;
  width: 1000px;
}

.user-email {
  width: 456px;
  height: 50px;
  border-radius: 83px;
  border: 1px solid #bdbdbd;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.email-block {
  display: flex;
  flex-direction: column;
}
.radio-container {
  display: flex;
  flex-direction: column;
}

.form-item.tel {
  margin-top: 20px;
}

.tel-wrapper {
  display: flex;
  flex-direction: column;
}

.form-item.high {
  margin-right: 10px;
}

.text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.text.little {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.info {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}
.container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  left: 0px;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 6.64px;
  border: 1px solid #976464;
}

.container:hover input ~ .checkmark {
  background-color: #e8e2e2;
}
.container input:checked ~ .checkmark {
  background-color: #ffffff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  width: 10.67px;
  height: 8px;
  top: 8px;
  left: 8px;
  border: solid rgb(118, 51, 51);
  border-width: 0 1px 1px 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.text.subscribe {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
}

.container-second {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-second input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 31px;
  width: 31px;
  background-color: #ffffff;
  border: 1px solid #976464;
  border-radius: 50%;
}
.container-second:hover input ~ .checkmark2 {
  background-color: #e8e2e2;
}
.container-second input:checked ~ .checkmark2 {
  background-color: #ffffff;
}
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}
.container-second input:checked ~ .checkmark2:after {
  display: block;
}
.container-second .checkmark2:after {
  top: 6px;
  left: 6px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #976464;
}

.container-second .text {
  margin-left: 40px;
}

.radio-container {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 31px;
}
