@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  margin: 0;
}

.wrapper {
  width: 645px;
  height: 378px;
  grid-area: pic;
  position: relative;
  display: grid;
  justify-self: self-start;
}

.main-wrapper {
  width: 1572px;
  height: 378px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 378px;
  grid-template-areas: "pic cont";
  justify-items: center;
}
.line {
  translate: 0px 120px;
}
.man-img {
  position: absolute;
  left: 278px;
  bottom: 0px;
}
.wrapper-for-content {
  width: 455.03px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: cont;
}
.text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;

  width: 396.99px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sites {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 140px;
}

.text-wrapper {
  display: flex;
  justify-content: center;
}

.like-im {
  width: 103.41px;
  height: 85.33px;
  translate: 15px 30px;
}

.im-wrapper {
  display: flex;
  justify-content: flex-end;
}
