body {
  margin: 0;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.block {
  background-color: rgb(138, 213, 46);
  margin: 10px;
  text-align: center;
}

.block.first {
  height: 300px;
}

.block.second {
  height: 300px;
  width: 97.4%;
}

.block.third {
  height: 290px;
  width: 500px;
}

.block.fourth {
  height: 290px;
  width: 506px;
}

.block.fifth {
  height: 610px;
  width: 1000px;
}
.wrap {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.little-wr {
  display: flex;
}

.wrapper-little {
  display: flex;
}

@media (max-width: 1210px) {
  .block.second {
    height: 290px;
    width: 33.33%;
  }
  .wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .wrapper-little {
    display: flex;
    flex-direction: column;
  }
  .block.third,
  .block.fourth {
    width: 367px;
  }

  .block.fifth {
    width: 98.5%;
  }
}

@media (max-width: 1171px) and (orientation: portrait) {
  .wrap {
    display: flex;
    flex-direction: column;
  }
  .block.second {
    width: 98.3%;
  }
  .block.third,
  .block.fourth {
    width: 50%;
  }
}

@media (max-width: 1144px) and (orientation: landscape) {
  .wrap {
    display: flex;
    flex-direction: column;
  }
  .block.third,
  .block.fourth {
    width: 98.3%;
  }
  .little-wr {
    display: flex;
    flex-direction: column;
  }
  .block.second {
    width: 98.3%;
  }
}
