@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato&family=Roboto+Condensed&display=swap");
body {
  margin: 0;
}

/*first block*/
.wrapper {
  width: 100vw;
  height: 714px;
  background: url(resources/Ellipse\ 1.png), url(resources/back1.png);
  object-fit: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 170px;
}
.top-text {
  font-family: "Lato", sans-serif;
  font-size: 100px;
  font-weight: 500;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  width: 596.31px;
  height: 100px;
}

.center-text {
  width: 420px;
  height: 58px;
  font-family: "Kaushan Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}
.four-blocks-wrapper {
  display: flex;
  flex-direction: row;
  width: 1316px;
  justify-content: space-between;
}
.block {
  width: 319px;
  height: 282px;
  border-radius: 8px;
  background: url(resources/back-blocks.png);
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.number-wrapper {
  width: 86px;
  height: 86px;
  background: url(resources/kub.png);
  object-fit: cover;
  position: relative;
}

.number {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.info {
  font-family: "Kaushan Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  width: 281px;
}

.number.first {
  position: absolute;
  left: 30px;
  top: 10px;
}

.info.first {
  position: relative;
  bottom: 50px;
}

.number.second {
  position: absolute;
  left: 30px;
  top: 10px;
}

.info.second {
  position: relative;
  bottom: 50px;
}

.number.third {
  position: absolute;
  left: 30px;
  top: 10px;
}

.number-wrapper.third {
  position: relative;
  top: 12px;
}

.info.third {
  position: relative;
  bottom: 5px;
}

.number.fourth {
  position: absolute;
  left: 30px;
  top: 10px;
}

.number-wrapper.fourth {
  position: relative;
  top: 6px;
}

.info.fourth {
  position: relative;
  bottom: 30px;
}

/*second block*/
.second-wrapper {
  width: 100vw;
  height: 730px;
  background: url(resources/back2.png);
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}
.wrapper-for-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 730px;
}
.central-info {
  width: 933px;
  height: 130px;
  font-family: "Kaushan Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.ellipse {
  width: 665.23px;
  height: 278.03px;
  position: absolute;
  bottom: 250px;
  left: 200px;
}
