body {
  margin: 0;
}

.wrapper-first {
  width: 1920px;
  background: url(/resources/line.png),
    linear-gradient(#acd8ef80 50%, #f5faff00 0%);
}

.head-section {
  width: 1204px;
  height: 31px;
}

.logo {
  width: 131.41px;
  height: 34.91px;
  object-fit: cover;
}

.market {
  text-decoration: none;
}

.select {
  border: transparent;
}

.head-section {
  display: flex;
}
