body {
  margin: 0px;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(217, 224, 231);
  align-items: center;
}
.head_text {
  display: flex;
  flex-wrap: wrap;
  width: 371px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.center-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.center-text:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
}

.search-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  width: 720px;
  height: 80px;
  background-color: rgb(247, 249, 250);
  align-items: center;
}
.location {
  width: 247px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.dates {
  width: 228px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dates-text {
  width: 228px;
  height: 36px;
  top: 14px;
  border-left: #cecdca 1px solid;
}
.search {
  width: 189px;
  height: 80px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background: url();
}

.back {
  width: 157px;
  height: 64px;
  background: url(resources/Rectangle.png) no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.head-line {
  width: 191px;
  height: 12px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #787573;
}

.bottom-line {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  width: 61px;
  height: 12px;
}

.block {
  height: 100vh;
  position: relative;
  left: 250px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pic {
  z-index: 0;
  border: 1px transparent;
}

.search-text {
  width: 52px;
  height: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.text {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head_text:hover {
  color: rgb(72, 130, 130);
}

.center-text:active {
  color: #ffffff;
}
