body {
  margin: 0;
}

.form {
  width: 100vh;
  height: 506px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.first-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 605px;
}

@mixin rows {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  @include rows();
}

.bigtext {
  @include rows();
}

.little-input {
  width: 261.62px;
  height: 38px;
}

.bigtext {
  width: 577.58px;
  height: 142px;
}
