@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/*what we do*/
body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
}

.text-images-block {
  width: 1186px;
  height: 699px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.top-text {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  width: 1170px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.middle-text {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0em;
  width: 1170px;
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.bottom-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  width: 1170px;
  height: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.red-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.images {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
}

.green-line {
  margin-top: 60px;
  background-color: #95e1d3;
  height: 252px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.line-text {
  width: 234px;
  height: 252px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}
.text {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

#left-block,
#center-block,
#right-block {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

/*we worck with*/
.second-part-container {
  margin: auto;
  width: 100vw;
  height: 683px;
}

.second-block {
  width: 1170px;
  height: 683px;
  margin: auto;
}

.second-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head-text {
  margin-top: 25px;
  width: 1170px;
  height: 80px;
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}
.foot-text {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  width: 1170px;
  height: 81px;
}

.wrapper {
  margin-top: 90px;
  width: 1170px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.mini-wrapper {
  width: 370px;
  height: 139px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 55px;
}

.two-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.firs-line {
  width: 270px;
  height: 51px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.second-line {
  width: 270px;
  height: 80px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
/*for all devices*/
.last-part-container {
  width: 100vw;
}

.last-wrapper {
  margin: auto;
  position: relative;
  left: 4px;
  background: url(resource/back3.png) no-repeat;
  z-index: 1;
  /*background-position: center;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-head-text {
  width: 1170px;
  height: 80px;
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.central-text {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  width: 1170px;
  height: 81px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-container {
  width: 1170px;
  height: 525px;

  position: relative;
}
.device-screen {
  position: absolute;
  bottom: 15px;
  left: 255px;
  z-index: 1;
}

.image-device {
  position: absolute;
  z-index: 2;
}

.phone-pic {
  position: absolute;
  z-index: 3;
  right: 395px;
  bottom: 0px;
}
.last-r-divider {
  margin-bottom: 20px;
}
